.gameBox {
    width: 5.88%;
    height: 7.7%;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
}

.playable {
    border: 2px solid var(--ownYellow);
    cursor: pointer;
}

.playable:hover {
    box-shadow: var(--hoverEmptyBox);
}

.thickYellowBoarderLeft {
    border-left: 4px solid var(--ownYellow);
    box-shadow: -4px 0 0 0 var(--borderRed);
}

.thickYellowBoarderRight {
    border-right: 4px solid var(--ownYellow);
    box-shadow: 4px 0 0 0 var(--borderRed);

}

.thickYellowBoarderTop {
    border-top: 4px solid var(--ownYellow);
    box-shadow: 0 -4px 0 0 var(--borderRed);
}

.thickYellowBoarderBottom {
    border-bottom: 4px solid var(--ownYellow);
    box-shadow: 0 4px 0 0 var(--borderRed);
}

.gameBoardLine {
    margin: 0 auto;
}

.greyBackground {
    background-color: #7f7979;
}

.blueBackground {
    background-color: #64c1eb;
}

.borderRadiusTopLeft {
    border-radius: var(--borderRadiusGameBox) 0 0 0;
    box-shadow: -4px 0 0 0 var(--borderRed), 0 -4px 0 0 var(--borderRed);
}

.borderRadiusTopRight {
    border-radius: 0 var(--borderRadiusGameBox) 0 0;
    box-shadow: 4px 0 0 0 var(--borderRed), 0 -4px 0 0 var(--borderRed);
}

.borderRadiusBottomRight {
    border-radius: 0 0 var(--borderRadiusGameBox) 0;
    box-shadow: 4px 0 0 0 var(--borderRed), 0 4px 0 0 var(--borderRed);
}

.borderRadiusBottomLeft {
    border-radius: 0 0 0 var(--borderRadiusGameBox);
    box-shadow: -4px 0 0 0 var(--borderRed), 0 4px 0 0 var(--borderRed);
}

.thickYellowBoarderLeft.thickYellowBoarderRight {
    box-shadow: -4px 0 0 0 var(--borderRed), 4px 0 0 0 var(--borderRed);
}

.thickYellowBoarderTop.thickYellowBoarderBottom {
    box-shadow: 0 -4px 0 0 var(--borderRed), 0 4px 0 0 var(--borderRed);
}


.highlight {
    box-shadow: var(--hoverHighlight);
}


.thickYellowBoarderRight.highlight {
    box-shadow: 4px 0 0 0 var(--borderRed), var(--hoverHighlight);
}

.thickYellowBoarderLeft.highlight {
    box-shadow: -4px 0 0 0 var(--borderRed), var(--hoverHighlight);
}

.thickYellowBoarderTop.highlight {
    box-shadow: 0 -4px 0 0 var(--borderRed), var(--hoverHighlight);
}

.thickYellowBoarderBottom.highlight {
    box-shadow: 0 4px 0 0 var(--borderRed), var(--hoverHighlight);
}

.borderRadiusTopLeft.highlight {
    box-shadow: -4px 0 0 0 var(--borderRed), 0 -4px 0 0 var(--borderRed),
    var(--hoverHighlight);
}

.borderRadiusTopRight.highlight {
    box-shadow: 4px 0 0 0 var(--borderRed), 0 -4px 0 0 var(--borderRed),
    var(--hoverHighlight);
}

.borderRadiusBottomRight.highlight {
    box-shadow: 4px 0 0 0 var(--borderRed), 0 4px 0 0 var(--borderRed),
    var(--hoverHighlight);
}

.borderRadiusBottomLeft.highlight {
    box-shadow: -4px 0 0 0 var(--borderRed), 0 4px 0 0 var(--borderRed),
    var(--hoverHighlight);
}

.thickYellowBoarderLeft.thickYellowBoarderRight.highlight {
    box-shadow: -4px 0 0 0 var(--borderRed), 4px 0 0 0 var(--borderRed),
    var(--hoverHighlight);
}

.thickYellowBoarderTop.thickYellowBoarderBottom.highlight {
    box-shadow: 0 -4px 0 0 var(--borderRed), 0 4px 0 0 var(--borderRed),
    var(--hoverHighlight);
}


.thickYellowBoarderRight:hover {
    box-shadow: 4px 0 0 0 var(--borderRed), var(--hoverEmptyBox);
}

.thickYellowBoarderLeft:hover {
    box-shadow: -4px 0 0 0 var(--borderRed), var(--hoverEmptyBox);
}

.thickYellowBoarderTop:hover {
    box-shadow: 0 -4px 0 0 var(--borderRed), var(--hoverEmptyBox);
}

.thickYellowBoarderBottom:hover {
    box-shadow: 0 4px 0 0 var(--borderRed), var(--hoverEmptyBox);
}


.borderRadiusTopLeft:hover {
    box-shadow: -4px 0 0 0 var(--borderRed), 0 -4px 0 0 var(--borderRed),
    var(--hoverEmptyBox);
}

.borderRadiusTopRight:hover {
    box-shadow: 4px 0 0 0 var(--borderRed), 0 -4px 0 0 var(--borderRed),
    var(--hoverEmptyBox);
}

.borderRadiusBottomRight:hover {
    box-shadow: 4px 0 0 0 var(--borderRed), 0 4px 0 0 var(--borderRed),
    var(--hoverEmptyBox);
}

.borderRadiusBottomLeft:hover {
    box-shadow: -4px 0 0 0 var(--borderRed), 0 4px 0 0 var(--borderRed),
    var(--hoverEmptyBox);
}

.thickYellowBoarderLeft.thickYellowBoarderRight:hover {
    box-shadow: -4px 0 0 0 var(--borderRed), 4px 0 0 0 var(--borderRed),
    var(--hoverEmptyBox);
}

.thickYellowBoarderTop.thickYellowBoarderBottom:hover {
    box-shadow: 0 -4px 0 0 var(--borderRed), 0 4px 0 0 var(--borderRed),
    var(--hoverEmptyBox);
}

.gameBoard {
    margin: 5.5vh auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 70.8125vw !important;
    height: 54.35vw;
    max-width: 114.1909vh;
    max-height: 87.6436vh;
    min-width: 727px;
    min-height: 557px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.gameBoard::before {
    content: none;
}

.arrow {
    background-size: 50%;
}

.leftArrow {
    background-image: url("images/leftArrow.png");
}

.upArrow {
    background-image: url("images/upArrow.png");
    background-size: 40%;
}

.rightUpArrow {
    background-image: url("images/rightUpArrow.png");
}

.leftUpArrow {
    background-image: url("images/leftUpArrow.png");
}

.rightArrow {
    background-image: url("images/rightArrow.png");
}

.bkgNum {
    background-size: 50%;
}

.bkgNum1 {
    background-image: url("images/1.png");
}

.bkgNum2 {
    background-image: url("images/2.png");
}

.bkgNum3 {
    background-image: url("images/3.png");
}

.titleGame {
    width: 50% !important;
    max-width: 700px !important;
    margin: 0.5em 0 !important;
    z-index: 1;
    position: relative;
}

.die {
    width: 50%;
    height: 14%;
    margin: 2vh auto;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform 0.3s;
}

.die:hover {
    transform: scale(1.1);
}

.dieNoHoverScale:hover {
    transform: none;
    cursor: default;
}
.orangeDieEmpty {
    background-image: url("images/dice/orangeDieEmpty.png");

}

@keyframes showRed1 {
    100% {
        background-image: url("images/dice/redDie1.png");
    }
}

@keyframes showRed2 {
    100% {
        background-image: url("images/dice/redDie2.png");
    }
}


@keyframes showRed3 {
    100% {
        background-image: url("images/dice/redDie3.png");
    }
}


@keyframes showRed4 {
    100% {
        background-image: url("images/dice/redDie4.png");
    }
}


@keyframes showRed5 {
    100% {
        background-image: url("images/dice/redDie5.png");
    }
}


@keyframes showRed6 {
    100% {
        background-image: url("images/dice/redDie6.png");
    }
}


@keyframes showOrange1 {
    100% {
        background-image: url("images/dice/orangeDie1.png");
    }
}

@keyframes showOrange2 {
    100% {
        background-image: url("images/dice/orangeDie2.png");
    }
}


@keyframes showOrange3 {
    100% {
        background-image: url("images/dice/orangeDie3.png");
    }
}


@keyframes showOrange4 {
    100% {
        background-image: url("images/dice/orangeDie4.png");
    }
}


@keyframes showOrange5 {
    100% {
        background-image: url("images/dice/orangeDie5.png");
    }
}


@keyframes showOrange6 {
    100% {
        background-image: url("images/dice/orangeDie6.png");
    }
}

@keyframes showGreen1 {
    100% {
        background-image: url("images/dice/greenDie1.png");
    }
}

@keyframes showGreen2 {
    100% {
        background-image: url("images/dice/greenDie2.png");
    }
}


@keyframes showGreen3 {
    100% {
        background-image: url("images/dice/greenDie3.png");
    }
}


@keyframes showGreen4 {
    100% {
        background-image: url("images/dice/greenDie4.png");
    }
}


@keyframes showGreen5 {
    100% {
        background-image: url("images/dice/greenDie5.png");
    }
}


@keyframes showGreen6 {
    100% {
        background-image: url("images/dice/greenDie6.png");
    }
}

@keyframes rollDie {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        margin: 2vh 2.5vw 2vh 2.5vw;
    }
    20% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        margin: 2vh 2vw 2vh 2vw;
    }
    40% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        margin: 2vh 1.75vw 2vh 3.25vw;
    }
    80% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
        margin: 2vh 3.25vw 2vh 1.75vw;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        margin: 2vh auto;
    }
}

@keyframes showOrangeInactive {
    from {
        background-image: url("images/dice/orangeDieEmpty.png");
    }
    to {
        background-image: url("images/dice/orangeDieInactive.png");
    }
}


.redDieEmpty {
    background-image: url("images/dice/redDieEmpty.png");
}

.greenDieEmpty {
    background-image: url("images/dice/greenDieEmpty.png");
}


.deactivate {
    opacity: 0.7;
}

.deactivate:hover {
    transform: none;
    cursor: default;
}

.deactivateRed {
    background-image: url("images/dice/redDieInactive.png");
}

.deactivateOrange {
    background-image: url("images/dice/orangeDieInactive.png");
}


.deactivateGreen {
    background-image: url("images/dice/greenDieInactive.png");
}

.velitelLabel {
    font-family: var(--myFont);
    color: white;
    margin: 0 auto;
}

.playerPanel {
    margin-top: 7vh;
    width: 14.575vw !important;
    height: 54.35vw;
    max-width: 23.5vh;
    max-height: 87.6436vh;
    min-width: 149px;
    min-height: 556px;
    position: absolute;
    top: 0;
    bottom: 0;
}

.right {
    right: 0;
}

.left {
    left: 0;
}

.tallyho {
    background-color: var(--tallyHoBkg);
    color: var(--tallyHoBorder);
    border: 4px solid var(--tallyHoBorder);
    width: 75%;
    padding: 10% 5%;
    margin: 4vh auto;
    font-size: 1.8em;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.3s;
    font-family: var(--myFont);
    line-height: 1em;
}

.tallyho:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.tallyho:active {
    background-color: var(--tallyHoBorder);
    color: var(--tallyHoBkg);
    border: 4px solid var(--tallyHoBkg);
}

.disableTallyho, .disableTallyho:active {
    opacity: 0.8;
    color: grey;
    border-color: grey;
    background-color: darkgrey;
    cursor: default;
}

.disableTallyho:hover {
    transform: none;
}

.activeDie {
    transform: scale(1.3);
}

.activeDie:hover {
    transform: scale(1.3);
}

.jet {
    background-size: 80%;
}

.leftJet {
    background-image: url("images/leftJet.png");
}

.rightJet {
    background-image: url("images/rightJet.png");
}

.leftJetInactive {
    background-image: url("images/leftJetInactive.png");
}

.rightJetInactive {
    background-image: url("images/rightJetInactive.png");
}

.leftJetFlame {
    background-image: url("images/leftJetFlame.png");
}

.rightJetFlame {
    background-image: url("images/rightJetFlame.png");
}

.crosshair {
    background-image: url("images/crosshair.png");
    background-size: 80%;
}

.flipContainer {
    perspective: 1000px;
    margin-bottom: 150px;
}


.flipContainer, .front, .back {
    width: 250px;
    height: 250px;
}

/* flip speed goes here */
.flipper {
    transform-style: preserve-3d;
    position: relative;
}

@keyframes tossCoinAnimation {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(359deg);
    }
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    /*
    z-index: 2;
    */
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}

.frontSuccess {
    background-image: url("images/coinSuccess.png");
}

.backSuccess {
    background-image: url("images/coinMissed.png");
}

.frontMissed {
    background-image: url("images/coinMissed.png");
}

.backMissed {
    background-image: url("images/coinSuccess.png");
}

.heightZero {
    height: 0;
    border: none;
    padding: 0;
    margin: 0;
}

.tossCoinButton {
    margin: 0 0 0 -100px;
    position: absolute;
    left: 50%;
    bottom: 50px;
}

@keyframes appearMissedButton {
    0% {
        height: 0;
        color: transparent;
    }
    100% {
        background-color: #b84513;
        border: var(--missedButonColor) solid 4px;
        color: var(--missedButonColor);
        height: 75px;
        width: 200px;
        padding: 10px;
        font-family: var(--myFont);
        font-size: 30px;
        z-index: 5;
    }
}

@keyframes appearSuccessButton {
    0% {
        height: 0;
        color: transparent;
    }
    100% {
        background-color: #3e8c22;
        border: var(--successButonColor) solid 4px;
        color: var(--successButonColor);
        height: 75px;
        width: 200px;
        padding: 10px;
        font-family: var(--myFont);
        font-size: 30px;
        z-index: 5;
    }
}


.animationPopupVerticalLayout {
    text-align: center;
    padding: 0;
    position: relative;
}

.displayNone {
    display: none;
}

.settingsBoard {
    background-image: url("images/settings.png");
}