* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --skyblue: #00aae3;
    --borderRed: #e1185e;
    --ownYellow: #ffe1a7;
    --gameBoxwidth: 6.25vh;
    --borderRadiusGameBox: 15px;
    --hoverEmptyBox: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    --hoverHighlight: inset 0px 0px 10px 5px rgba(255, 255, 255, 0.8);
    --myFont: magneto, Helvetica, Arial, sans-serif;
    --tallyHoBkg: #edbb8a;
    --tallyHoBorder: #c42e55;
    --animateRed: rollDie 0.3s linear 1 none;
    --animateOrange: rollDie 0.3s linear 2 none;
    --animateGreen: rollDie 0.3s linear 3 none;
    --animateRedFinish: 0.3s step-end forwards;
    --animateOrangeFinish: 0.6s step-end forwards;
    --animateGreenFinish: 0.9s step-end forwards;
    --animateTossCoin: tossCoinAnimation 0.4s linear 3 none;
    --animateSuccessButton: appearSuccessButton 1.2s step-end forwards;
    --animateMissedButton: appearMissedButton 1.2s step-end forwards;
    --missedButonColor: #f2b12d;
    --successButonColor: #f2b12d;
}

@font-face {
    font-family: magneto;
    src: url(fonts/MAGNETOB.TTF);
}

body {
    background-color: var(--skyblue);
}

.appBackground {
    background-image: url("images/airport-background.jpg");
    background-repeat: no-repeat;
    min-width: 1024px;
    min-height: 635px;
    margin: 0 auto;
    background-size: cover;
    width: 100vw;
    height: 62vw;
    max-width: 161.29vh;
    max-height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.title {
    width: 90%;
    max-width: 1200px;
    margin: 2em 0;
}


.infopopupHeader {
    font-family: var(--myFont);
    font-size: 60px;
    color: var(--borderRed);
    margin: 0.5em auto;
}

.infopopupButton {
    background-color: transparent;
    border: var(--borderRed) solid 4px;
    color: var(--borderRed);
    margin: 10px auto;
    cursor: pointer;
    padding: 10px;
    height: 100%;
    width: 100%;
    font-family: var(--myFont);
    font-size: 30px;
}

.infopopupButton:hover {
    background-color: var(--borderRed);
    color: var(--ownYellow);
}

.infopopupLabel {
    font-family: var(--myFont);
    font-size: 30px;
    margin: 0 auto 0.5em auto;
}

.settingsBox {
    background-color: rgba(134, 123, 123, 0.85);
    border: 4px solid #626262;
    border-radius: 50px;
    cursor: pointer;
    background-size: 65%;
}

.muted {
    background-image: url("images/muted.png");
}

.unmuted {
    background-image: url("images/unmuted.png");
}

/*4k*/

@media screen and (min-width: 2560px) {
    .appBackground {
        background-image: url("images/airport-background_4k.jpg");
    }
}