.mainMenuItem {
    background-color: #7473737a;
    color: var(--ownYellow);
    border: 4px solid var(--ownYellow);
    width: 220px;
    padding: 10px;
    margin: 10px;
    font-size: 1.5em;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.5s;
    font-family: var(--myFont);
    box-shadow: 0 0 0 4px var(--borderRed);
}

.mainMenuItem:hover{
    background-color: var(--ownYellow);
    color: var(--borderRed);
}

.menuItems {
    margin: 1em auto;
    width: auto !important;
}

.menuItemsHorizontal {
    width: 60%;
    margin: 5% auto;
}

.infopopup p, .infopopup ul li {
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 16px;
    text-align: left;

}

.infopopup ol li {
    margin-left: 45px;
}

.infopopup ul li {
    margin-left: 15px;
}
.infopopup h4 {
    font-family: 'Roboto', 'Noto', sans-serif;
}

.appBackground .muteBoxMenu {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    margin-left: -30px;
}

.credits p {
    text-align: center;
}
