
:host([theme~="info-popup"]) [part~="overlay"] {
    background-color: var(--ownYellow);
    border: var(--borderRed) solid 10px;
    border-radius: 20px;
    padding: 1% 2%;
    text-align: center;
    max-width: 60%;
}

:host([theme~="info-popup"]) [part~="backdrop"] {
    background-color: rgba(0, 0, 0, 0.5);
}

:host([theme~="animation-popup"]) [part~="overlay"] {
    background-color: transparent;
    box-shadow: none;
    overflow: hidden;
}

:host([theme~="animation-popup"]) [part~="backdrop"] {
    background-color: rgba(0, 0, 0, 0.5);
}
